@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Poppins';
    line-height: 20px;
    color: #b1b4bd;
    background-color: #58405e;
    box-sizing: border-box;
}
a {
    color: #56bd1b;
    font-weight: 500;
    font-size: 1.4rem;
}
a:hover {
    color: rgb(194, 191, 19);

}
.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 750px;
    padding-bottom: 70px;
    background: linear-gradient(-90deg, #bb76a8 0%, #e3eaf8 100%);
    background-position: 0px 0px, 100% 50%;
    background-size:  cover;
    white-space: normal;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-directon: column;
}
.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding:20px;
    z-index: 1;
    -webkit-item-align:auto;
    -ms-flex-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-original:1;
    -webkit-order:0;
    -ms-flex-box:0;
    order: 0;
    background-color: rgba(99, 93, 98, 0.5); 

}
.logo {
    font-size: 1.1rem;
    color: var(--text--color);
    font: 800;
}
#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: 100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% /10%);
    transition: 2s;
}
.cart.active{
    right: 0;

}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: black;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
.detail-box{
    display: grid;
    row-gap: 0.5rem;   
}
.cart-product-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;

}
.cart-price{
    font-weight: 500;
    color: #000;
}
 .cart-quantity{
     border: 1px solid var(--bg--color);
     outline-color: var(--bg--color);
     width: 2.4rem;
     text-align: center;
     font-size: 1rem;
 }
 .cart-remove{
     font-size: 24px;
     color: black;
     cursor: pointer;
 }
 .total{
     display: flex;
     justify-content: flex-end;
     margin-top: 1.5rem;
     border-top: 1px solid black;
 }
.total-title{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(17, 16, 16, 0.863);
}
.total-price{
    margin-left: 0.5rem;
    color: rgb(12, 12, 12);
    
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    background: var(--text--color);
    color: var(--bg--color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: #afaf88;

}
#close-cart{
position: absolute;
top: 1rem;
right: 0.8rem;
font-size: 2rem;
color: #563434;
cursor: pointer;
}








.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    font-size: 2.2rem;
    color: white;
}
.navbar-brand{
    font-size: 2.2rem;
    color: white;
}
.navbar-toggler{
    border: none;
    outline: none;
    padding: 10px 6px;
}
.active, li:hover {
    color: #ff0073;
    border-bottom: 4px solid #ff0073;
}
.navbar-toggler span{
    display: block;
    width:22px;
    height: 2px;
    border: 1px;
    background: rgb(170, 76, 165);
}
.navbar-toggler span + span {
    margin-top: 4px;
    width: 22px;

}
.navbar-toggler span + span + span {
    margin-top: 4px;
    width: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color: #a3502f;
    
}
.btn {
    display: inline-block;
    background: #67566b;
    color: #fff;
    padding: 18px 40px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5s;
}.btn:hover{
    background: #563434;
}
.heading{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: rgb(102, 15, 76);
    margin-top: 180px;
    margin-bottom: 28px;
    min-width: 100px;
    
}

.col-2 {
    flex-basis: 100%;
    min-width: 300px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: #641775;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.column-left {
    min-height: 750px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12,32,59,0.9)));
    background-image: url("https://ae01.alicdn.com/kf/H368a8d4a51414351838017eec0377dd0T/Mini-Collection-Basket-Trolley-For-Household-Use-Pink-Iron-Doll-House-Shopping-Cart-Home-Table-Top.jpg_Q90.jpg_.webp");
    background-image: linear-gradient(180deg, rgba(50,58,69,0.55)), rgba(12,32,59,0.74)));
    background-position: 0px 0px, 100% 50%;
    background-size:  cover;
    background-attachment: scroll, scroll;
    object-fit: cover;

}
.column-right {
    margin-top: 80px;
    padding: 5rem, 2rem, 0rem, 5rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #b1b4bd;
}
.column-right .paragraph {
    margin-top: 15px;
    padding: 1rem, 5rem, 1rem, 5rem;
    font-size: 1.6rem;
    color: #b1b4bd;
    line-height: 1.4;
    text-align: justify;
}
.categories{
    margin: 70px 0;
 
 }
 section {
    padding: 4rem 0 3rem;
    }
    .section-title{
      font-size: 1.5rem;  
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .shop{
       margin-top: 2rem; 
    }
    .shop-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1.5rem;
    }
    .product-box{
        position: relative;
    }
    .product-box:hover{
      padding: 10px;
      border: 1px solid var(--text--color);
      transition: 0.4s;

    }
    .product-image{
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;

    }
    .product-title{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5rem;

    }
    .price{
        font-weight: 500;

    }
    .add-cart{
        position: absolute;
        bottom: 0;
        right: 0;
        background: var(--text--color);
        color: var(--bg--color);
        padding: 10px;
        cursor: pointer;
    }
    .add-cart:hover{
        background: hsl(251, 6%, 64%);
    }



 .title {
    text-align: center;
    margin: auto;
    padding: 0%;
}
.prod{
    text-align: center;
}
.controls.top h1{
    color: hsla(310, 76%, 29%, 0.89);
    text-align: center;
}
#warning {
    color: #b344cc;
}
#text-warning{
    color: #bd55b8;
}
#contact h2{
    text-align: center;
}
#contact{
    color: black;
}
#contactdetails h2{
    text-align: left;
}

.footer-col-2{
    text-align: center;
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  footer p{
    margin-top: 10px;
  }